@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }
  .Login {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
@media all and (min-width: 480px) {
  .SignUp {
    padding: 60px 0;
  }
}

.SignUp form {
  margin: 0 auto;
  max-width: 320px;
}
.SignUp {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.Form.Label {
  color: white;
}
.alert {
  padding-bottom: 30px;
}
@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
  }

  @page {
    size: a3;
  }
}
body {
  min-width: 992px !important;
}
.container {
  min-width: 992px !important;
}
